@import '../root.css';

footer {
    background-color: var(--accent);
    width: 100%;
    padding: 1em 0;
    color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .logo-footer{
    height: 150px;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--background);
}

.nav_fo{
  text-decoration: none;
  margin: 0.4em 3em;
}


.nav_fo a{
  color: var(--background);
}