/*  definicion de Posisoin para que no se vaya con el scroll  */
nav{
  top: 0%;
  position: sticky !important;
  background-color: var(--dark-primary);
  z-index: 1000;
  font-weight: 400;
  font-size: 0.9em;
}

.nav-img {
  width: 50px !important;
  margin: 0 0.5em 0 0 ;
}

.philosopher span{
  font-size: 1.2em;
}

.cuenta {
  width: 30px !important;
  padding: 0;
}

.nav-link:hover {
  color: var(--gray) !important;
}

.selector {
  color: var(--primary) !important;
}
