/*  definicion de Posisoin para que no se vaya con el scroll  */
nav .navbar {
  top: 0%;
  position: sticky !important;
  z-index: 10;
}

.navbar{
  z-index: 1000;
}

nav {
  background-color: var(--dark-primary);
}

nav .nav-img {
  width: 50px !important;
  padding: 0;
}

/* USER ICON  */
nav .cuenta {
  width: 30px !important;
  padding: 0;
}

nav .nav-link:hover {
  color: var(--primary) !important;
}

nav .title:hover {
  color: var(--primary) !important;
}

nav .selector {
  color: var(--primary) !important;
}

nav .title {
  font-size: 1.5em !important;
}
