/* Se importan los estilos root, del nabvar y del footer */
@import './root.css';
@import './components/navbar.css';
@import './components/footer.css';
@import './components/hero.css';



.hero-img{
  background-image: url(https://res.cloudinary.com/dkrsandox/image/upload/a_hflip/v1708016856/DulceNectar/banner2_gmuxrg.webp);
  background-size: cover;
}

/*MAIN CONTAINER*/
.dn-reviews-cont {
  margin: 2rem auto;
  width: 100%;
  height: 100vh;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background-color: var(--accent);
}

/*FORM-----*/
.dn-review-form {
	width: clamp(18em, 40vw, 25em);
	background-color: var(--primary);
}

.stars {
	font-size: 20px;
	color: var(--gray);
}

.stars:hover {
	color: gold;
}

.dn-review-form textarea {
	resize: none;
}

/*RATING STARS COLOR*/
.checked {
	color: gold;
}

.reviewlist-header{
  width: clamp(18em, 50vw, 40em);
  color: var(--primary);
}

#reviewfilter{
  width: clamp(18em, 50vw, 40em);
}

/* REVIEW LIST*/
.dn-review-list {
	width: clamp(18em, 50vw, 40em);
	height: 80vh;
	overflow-y: scroll;
}

/*REVIEW CARD STYLES*/
.normalBg{
  background-color: var(--primary);
}

.myReview{
  background-color: var(--divider);
}

.dn-review-img {
	width: 80px;
	height: 80px;
}

.review-description {
	width: 80%;
	background-color: transparent;
	border: none;
}

.review-desc-head {
	width: 100%;
  flex-direction: column;
}

.review-desc-body {
	height: fit-content;
	width: 100%;
}

.rating-cont-2 {
	color: var(--gray);
	font-size: 1em;
}

.dn-button-reviewCard{
  width: 5em;
  margin: 0 2em;
}

.hidden{
  display: none;
}