/**
-------------------------------------------
  COLOR PALETTE
-------------------------------------------
*/
:root {
  --background: #FFFFF8;
  --primary: #FFF7D4;
  --dark-primary: #FFD95A;
  --accent: #683F35;
  --divider: #F1D18A;
  --dark: #303030;
  --gray: #6a6a6a;
  }

/**
-------------------------------------------
  BOOTSTRAP BTNS OVERRIDE
------------------------------------------
*/

/* Todos los botones */
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-secondary {
  border-radius: 5px;
  padding: 4px 8px;
}

/* PRIMARY BTN */
.btn-primary {
  background-color: var(--accent);
  color: var(--background);
  border: none;
}

.btn-primary:hover {
  background-color: var(--divider);
  border: 1px solid var(--dark);
  color: var(--dark);
}

.btn-primary:active,
.btn-primary:active:focus {
  background-color: var(--primary);
}

/* BOTÓN SECUNDARIO  */
.btn-secondary {
  background-color: var(--dark-primary);
  color: var(--dark);
  border: 1px var(--accent) solid;
}

.btn-secondary:hover {
  background-color: var(--primary);
  border: 2px var(--accent) solid;
}

.btn-primary:active,
.btn-primary:active:focus {
  background-color: var(--secondary-hover)
}

/*  BOTÓN DE INFO AUXILIAR */
.btn-info {
  background-color: var(--white);
  border-color: var(--black);
}

.btn-info:hover {
  background-color: var(--black);
  color: var(--white);
  border-color: var(--white);
}

.btn.btn-info[disabled] {
  background-color: var(--white);
  border-color: var(--black);
}

/*
-----------------------------------------
FONTS
-----------------------------------------
*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Philosopher', sans-serif;
}

body {
  font-family: 'Quicksand', sans-serif !important;
}

.title {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 2em !important;
}

.subtitle {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em !important;
}

/*
-----------------------------------------
CONTAINERS BACKGROUNDS
-----------------------------------------
*/

body, .carousel {
  background-color: var(--primary-background) !important;
}
.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-xxl
{
  background-color: transparent !important;
}

.modal-content {
  background-color: var(--primary-background) !important;
}

.input-group-text {
  background-color: var(--primary);
}

.dropdown-menu {
  background-color: var(--white);
}

.dropdown-item:hover {
  background-color: var(--yellow1-dark);
}


/*
-----------------------------------------
BOOTSTRAP´S NAVBAR
-----------------------------------------
*/
.navbar {
  z-index: 1030;
}


/*
-----------------------------------------
SEMANTIC ELEMENTS
-----------------------------------------
*/

main {
  min-height: 100vh; /* to keep footer non-visible */
  margin-top: 5rem;
}

body {
  z-index: -2;
  position: relative;
}

.fancy_background {
  z-index: -1;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.fancy_background_item {
  position: absolute;
  object-fit: contain;
  -webkit-filter: drop-shadow(5px 5px 5px var(--black));
  filter: drop-shadow(5px 5px 5px var(--black));
  opacity: 0.7;
  /*
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 500ms;
  */
}

.fancy_background img:nth-child(1){
  width: 10rem;
  height: 10rem;
  top: 30rem;
  left: 2rem;
  transform: rotate(90deg);
}

.fancy_background img:nth-child(2){
  width: 10rem;
  height: 10rem;
  top: 50rem;
  right: 1%;
  transform: rotate(-45deg);
  /*animation-name: move2;*/
}

.fancy_background img:nth-child(3){
  left: -20%;
  width: 120vw;
  top: 100vh;
  opacity: 0.3;
}

.fancy_background img:nth-child(4){
  right: -20%;
  width: 120vw;
  top: 200vh;
  opacity: 0.3;
  transform: rotate(90deg);
}

.form-control:focus {
  border-color: var(--yellow3-base);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--yellow3-light);
}

.form-check-input:focus,
.form-check-input:checked,
.form-check-input::before 
{
  border-color: var(--yellow3-light);
  background-color: var(--yellow3-base);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--yellow3-light);
}

.form-select:focus{
  border-color: var(--yellow3-base);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--yellow3-light);
}

select option:hover {
  background-color: var(--yellow1-light);
  color:white;
}
select option:checked{
  background-color: var(--yellow2-light);
  }
/* Establece el fondo transparente por defecto para todas las opciones */
/* Establece el fondo transparente por defecto para todas las opciones */

.dropdown-toggle:focus,
.dropdown-toggle:active
{
  background-color: var(--yellow3-base);
  border: var(--yellow2-base);

}

/*
----------------------------------------------------
MEDIA QUERIES FOR COMMON SIZES
----------------------------------------------------
*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .fancy_background img:nth-child(3){
    left: -20%;
    width: 110vw;
    top: 100vh;
    opacity: 0.3;
  }

  .fancy_background img:nth-child(4){
    right: -20%;
    width: 110vw;
    top: 200vh;
    opacity: 0.3;
    transform: rotate(90deg);
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .fancy_background img:nth-child(3){
    left: -20%;
    width: 100vw;
    top: 100vh;
  }

  .fancy_background img:nth-child(4){
    right: -20%;
    width: 100vw;
    top: 200vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .fancy_background img:nth-child(3){
    left: -20%;
    width: 90vw;
    top: 100vh;
  }

  .fancy_background img:nth-child(4){
    right: -20%;
    width: 90vw;
    top: 200vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .fancy_background img:nth-child(3){
    left: -10%;
    width: 50vw;
    top: 100vh;
  }

  .fancy_background img:nth-child(4){
    right: -10%;
    width: 50vw;
    top: 200vh;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .fancy_background img:nth-child(3){
    left: -10%;
    width: 40vw;
    top: 100vh;
  }

  .fancy_background img:nth-child(4){
    right: -10%;
    width: 40vw;
    top: 200vh;
  }
}