/*---------------------------------------------
FORMAT STYLES
---------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*-------------------------------------------
  COLOR PALETTE
------------------------------------------- */
:root {
  --background: #FFFFF8;
  --primary: #FFF7D4;
  --dark-primary: #FFD95A;
  --accent: #683F35;
  --divider: #F1D18A;
  --dark: #303030;
  --gray: #6a6a6a;
}

/*-----------------------------------------
FONTS
-----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Philosopher', sans-serif;
}

p {
  font-family: 'Quicksand', sans-serif !important;
  font-size: 1em;
}

.title {
  font-family: 'Philosopher', sans-serif !important;
  font-size: 2em !important;
  color: var(--dark);
}

.subtitle {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5em !important;
  color: var(--gray);
}

.text-white {
  color: var(--background);
}

.text-dark {
  color: var(--dark);
}

.text-gray {
  color: var(--gray);
}

.philosopher {
  font-family: 'Philosopher', sans-serif !important;
  color: #683F35;
}

/*---------------------------------------------
SECTION'S TITLE
-----------------------------------------------*/
.section-title {
  background: rgb(255, 217, 90);
  background: radial-gradient(circle, rgba(255, 217, 90, 0.35) 0%, rgba(148, 187, 233, 0) 100%);
  border-top: 3px solid var(--divider);
  border-bottom: 3px solid var(--divider);
  padding: 8px 2em 8px 2em;
  width: fit-content;
  margin: auto;
}

.container{
  max-width: 1440px;
  width: 100%;
}

/*----------------------------------------------
  BOOTSTRAP Btn OVERRIDE
-----------------------------------------------*/
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-secondary {
  border-radius: 5px;
  padding: 4px 8px;
}

.btn-primary {
  background-color: var(--accent);
  color: var(--background);
  border: none;
}

.btn-primary:hover {
  background-color: var(--divider);
  border: 1px solid var(--dark);
  color: var(--dark);
}

.btn-primary:active,
.btn-primary:active:focus {
  background-color: var(--primary);
}

.btn-secondary {
  background-color: var(--dark-primary);
  color: var(--dark);
  border: 1px var(--accent) solid;
}

.btn-secondary:hover {
  background-color: var(--primary);
  border: 2px var(--accent) solid;
}

.btn-primary:active,
.btn-primary:active:focus {
  background-color: var(--secondary-hover)
}

.btn-info {
  background-color: var(--white);
  border-color: var(--black);
}

.btn-info:hover {
  background-color: var(--black);
  color: var(--white);
  border-color: var(--white);
}

.btn.btn-info[disabled] {
  background-color: var(--white);
  border-color: var(--black);
}



/*-----------------------------------------
BACKGROUND
-----------------------------------------*/
body {
  background-color: var(--primary-background) !important;
}

.modal-content {
  background-color: var(--primary-background) !important;
}

.input-group-text {
  background-color: var(--primary);
}

.dropdown-menu {
  background-color: var(--background);
}

.dropdown-item:hover {
  background-color: var(--divider);
}

/*---------------------------------------------------------
BACKGROUND STYLES
---------------------------------------------------------*/
.fancy_background {
  z-index: -1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.fancy_background_item {
  -webkit-filter: drop-shadow(5px 5px 5px var(--black));
  filter: drop-shadow(5px 5px 5px var(--black));
  position: absolute;
}

.fancy_background img:nth-child(1) {
  opacity: 0.4;
  width: 10rem;
  top: 10vh;
  left: 10%;
}

.fancy_background img:nth-child(2) {
  opacity: 0.4;
  height: 8em;
  right: 15%;
  top: 80vh;
  transform: scaleX(-1);
}

.fancy_background img:nth-child(3) {
  width: clamp(18em, 30%, 40em);
  top: 65vh;
  left: 30%;
  opacity: 0.3;
  transform: rotate(90deg);

}

/*--------------------------------------
FORM STYLES
----------------------------------------*/

.form-control:focus {
  border-color: var(--yellow3-base);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--yellow3-light);
}

.form-check-input:focus,
.form-check-input:checked,
.form-check-input::before {
  border-color: var(--yellow3-light);
  background-color: var(--yellow3-base);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--yellow3-light);
}

.form-select:focus {
  border-color: var(--yellow3-base);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--yellow3-light);
}

select option:hover {
  background-color: var(--yellow1-light);
  color: white;
}

select option:checked {
  background-color: var(--yellow2-light);
}

.dropdown-toggle:focus,
.dropdown-toggle:active {
  background-color: var(--yellow3-base);
  border: var(--yellow2-base);

}
